name: Run Pytest

on:
  push:
    branches: [unit-tests]
  # pull_request:
  #   branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10.4"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r function_app/requirements.txt
          pip install pytest==7.4.0

      - name: 'Create env file'
        run: |
          touch temp.txt
          echo -e "AzureWebJobsStorage=${{ secrets.AzureWebJobsStorage }}\nFUNCTIONS_WORKER_RUNTIME=${{ secrets.FUNCTIONS_WORKER_RUNTIME }}\nAzureWebJobsFeatureFlags=${{ secrets.AzureWebJobsFeatureFlags }}\nBlobStorageConnectionString=${{ secrets.BlobStorageConnectionString }}\nOPENAI_KEY=${{ secrets.OPENAI_KEY }}\nFUNCTION_KEY=${{ secrets.FUNCTION_KEY }}\nCONNECTION_STRING=${{ secrets.CONNECTION_STRING }}\nSTORAGE_KEY=${{ secrets.STORAGE_KEY }}\nSTORAGE_URL=${{ secrets.STORAGE_URL }}\nSTORAGE_CONTAINER=${{ secrets.STORAGE_CONTAINER }}\nMISTRAL_MODEL=${{ secrets.MISTRAL_MODEL }}\nMISTRAL_ENDPOINT=${{ secrets.MISTRAL_ENDPOINT }}\nMISTRAL_KEY=${{ secrets.MISTRAL_KEY }}\nLLAMA_MODEL=${{ secrets.LLAMA_MODEL }}\nLLAMA_ENDPOINT=${{ secrets.LLAMA_ENDPOINT }}\nLLAMA_KEY=${{ secrets.LLAMA_KEY }}" > temp.txt
          cat temp.txt
          cp temp.txt tests/

      - name: Run Pytest
        run: pytest --log-cli-level=INFO tests/ --junit-xml=.test_report.xml

      - name: Generate PyTest report
        uses: test-summary/action@v2
        with:
          paths: .test_report.xml
          show: fail
        if: always()